#display {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    height: 20px;
    width: auto;
}

#container {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    height: fit-content;
    width: fit-content;
}

#inputs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: fit-content;
    width: fit-content;
}

#operators {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: fit-content;
    width: fit-content;
}

.operator {
    background: chartreuse;
}